* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #ffffff;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0 1rem;
}

header {
  display: flex;
  border-bottom: 1px solid #000;
  padding: 2rem 0;
}

header .title {
  font-size: 3.5rem;
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  -webkit-text-stroke: 1px #000;
}

.title {
  flex: 0 1 12rem;
}

.battery {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
  border-top: 1px solid #000;
  padding: 2rem 0;
}

header,
h1 {
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
  margin: 1rem 0;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

a {
  color: #000;
}

p {
  font-size: 1.2rem;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: 1rem;
}

.container {
  display: flex;
}

main {
  flex: 1 1 14rem;
  margin: 0 1rem 0;
}

aside {
  flex: 0 1 14rem;
}

.weather h3 {
  margin-bottom: 1rem;
  margin-top: 0;
}

.weather div,
.weather h4 {
  margin-bottom: 0.3rem;
  margin-top: 0;
}

.weather .date,
.wather .row {
  font-size: 0.9rem;
}

.weather .weather_emoji {
  filter: grayscale(100%);
  flex: 0.3;
  font-size: 2rem;
  align-self: center;
}

.weather .column {
  flex: 1;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row span {
  font-weight: 700;
}

@media (max-width: 90px) {
  .container {
    flex-direction: column;
  }

  main {
    margin-left: 0;
  }
}
